*{
box-sizing: border-box;
}
body{
margin: 0;
padding: 0;
border: 0;
}

/* Navbar section */
	.navbar{
		margin: 0;
		padding: 0;
		height: 102px;
		width: 100%;
		background-color: #fff;
		position: fixed;
		z-index: 100000;
	}
		.nav-container{
			width: 100%;
			height: 65%;
		}
			.logo{
				height: 37px;
				width: 143px;
				position: absolute;
				background-color: #000;
				margin-left: 173px;
				line-height: 100px;
			}
			.bar-menu{
				list-style-type: none;
				text-align: center;
				margin-left: 260px;
			}
				.bar-menu li{
					display: inline-block;
					margin: 10px;
					padding: 10px;
					color: #000;
				}
					.bar-menu a{
						color: #000;
						text-decoration: none;
						font-family: "muli", sans-serif;
						font-weight: 300;
					}
					.btn-navbar{
						width: 116px;
						height: 34px;
						border-radius: 20px;
						background-color: rgb(255 80 113);
						color: #fff;
						border-style: none;
						font-family: "muli", sans-serif;
						font-weight: 300;
					}
/* END Navbar section */
/* Herosection */
	.hero-section{
		width: 100%;
		padding-top: 120px;
	}
		.title-illustration{
			width: 100%;
			display: -webkit-box;
  			display: -webkit-flex;  
  			display: -ms-flexbox;
			display: flex;
		}
			.illustration-coffe-bar{
				width: 60%;
				margin-top:80px;
			}
				.pink-balls{
					margin-left: 120px;
				}
			.title-best-pos{
				width: 40%;
				margin-top:80px;
				font-family: "muli", sans-serif;
				list-style-type: none;
			}
				.best-title{
					width: 205px;
				}
				.smp-op-text{
					width: 47%;
				}
				.line-detail{
					width: 64px;
					height: 1px;
					background-color: #000;
					margin-left: 0;
				}
				.ready-text{
					color: rgb(255 80 113);
				}
/* END Herosection */
/* Blue section */
	.blue-section{
		width: 100%;
		margin-top: 120px;
		overflow: hidden;
		position: relative;
		padding: 45px 0;
	}
		.sentence-container{
			width: 100%;
			background-color: #3498DB;
			text-align: center;
			font-family: "muli", sans-serif;
			z-index: 100000;
			position: relative;
		}
			.Tailor-title{
				padding-top: 60px;
				font-weight: 400;
				color: #fff;
				margin: 0;
			}
			.text-container{
				height: 25%;
				display: flex;
				justify-content: center;
				align-items: center;
			}
			.sentence{
				width: 40%;
				font-weight: 300;
				color: #fff;
				padding-bottom: 26px;
			}
		.background-copy{
			width: 110%;
			height: 68%;
			background-color: #3498DB;
			transform:rotate(-4deg) translate(-50%, -50%);
			transform-origin: top left;
			position: absolute;
			top: 50%;
			left: 50%;
			opacity:.5;
		}
/* END Blue section */
/* Section retail-qsr-beauty */
	.section-retail-qsr-beauty{
		width: 100%;
	}
		.cards-container{
			position: absolute;
			width: 100%;
		}
			.init-container{
				position: relative;
				width: 100%;
				height: 15%;
				margin: 0;
			}
				.init-section{
					text-align: center;
					font-weight: 300;
					font-family: "muli", sans-serif;
					margin-top: 30px;
				}
			.container-title{
				position: relative;
				width: 100%;
				height: 15%;
				margin: 0;
			}
				.franpos-title{
					text-align: center;
					font-family: "muli" , sans-serif;
					font-weight: 400;
					margin-top: -5px;
				}
			.retail-card{
				display: flex;
				height: 50%;
				width:100%;
				margin-top: 30px;
				justify-content: center;
				align-items: center;
			}
				.text-img-container{
					margin: 20px;
					padding: 25px;
					display: flex;
					justify-content: center;
					align-items: center;
					box-shadow: 4px 5px 7px 4px #D7DBDD;
					width: 340px;
					height: 190px;
				}
					.text-retail{
						width: 200px;
						height: 182px;
						font-family: "muli", sans-serif;
						font-weight: 300;
					}
					.shopping-cart{
						width: 50%;
					}
						.img-cart{
							margin-left: 30px;
						}
/* END Section retail-qsr-beauty*/
/* Clients logos section */
	.clients-logos-section{
		width: 100%;
		position: absolute;
		margin-top: 500px;
		background: linear-gradient(to right, #F2F3F4, #FDFEFE);
	}
		.logos-clients-container{
			width: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			margin-top: 80px;
			margin-bottom: 50px;
		}
		.world-title{
			text-align: center;
			font-family: "muli" , sans-serif;
			font-weight: 400;
			margin-top: 95px;
		}
			.group-logo:not(:last-child){
				margin-right: 100px;
			}
/* END Clients logos section */
/* Comparison section */
	.comparison-section{
		width: 100%;
	}
		.oldway{
			text-align: center;
			font-family: "muli", sans-serif;
			font-weight: 400;
			margin-top: 815px;
		}
		.choice-title{
			text-align: center;
			font-family: "muli", sans-serif;
			font-weight: 400;
			color:  rgb(255 80 113);
		}
		.comparison-img-container{
			width: 100%;
			height: 50%;
			display: flex;
			justify-content: center;
			align-items: center;
			font-family: "muli", sans-serif;
			font-weight: 300;
		}
			.option-oldway{
				width: 50%;
				text-align: right;
			}
			.option-franpos{
				width: 50%;
				text-align: left;
				margin-left: 10px;
			}
/* END Comparison section */
/* Section slider*/
	.section-slider{
		width: 100%;
		margin-top: 143px; 

	}
		.how{
			font-family: "muli" , sans-serif;
			font-weight: 300;
			color: #D5DBDB;
			margin-left: 12%;
			margin-bottom: 10px;
	}
		.say-hello{
			font-family: "muli", sans-serif;
			font-weight: 300;
			color: rgb(255 80 113);
			margin-left: 12%;
	}
	.slide-container{
		width: 88%;
		height: 700px;
		background-color: #21292e;
		margin-left: 12%;
	}
		.selector{
			width: 90px;
			height: 90px;
			background-color: #141e22;
			border-style: none;
		}
		.slider-page{
			width: 2992px;
			height: 450px;
			margin-top: 85px;
		}
			.page:not(:last-child){
				width: 576px;
				height: 100%;
				background-color: #fff;
				border-color: #000;
				display: inline-block;
				margin-right: 28px;
				border: 1px solid;
				box-shadow: 18px 10px 70px 10px #21292e;

			}
/* END Section slider*/
