*{
box-sizing: border-box;
}
body{
margin: 0;
padding: 0;
border: 0;
}
	.navbar{
		margin: 0;
		padding: 0;
		height: 102px;
		width: 100%;
		background-color: #fff;
		position: fixed;
		z-index: 100000;
	}
		.nav-container{
			width: 100%;
			height: 65%;
		}
			.logo{
				height: 37px;
				width: 143px;
				position: absolute;
				background-color: #000;
				margin-left: 173px;
				line-height: 100px;
			}
			.bar-menu{
				list-style-type: none;
				text-align: center;
				margin-left: 260px;
			}
				.bar-menu li{
					display: inline-block;
					margin: 10px;
					padding: 10px;
					color: #000;
				}
				.bar-menu a{
					color: #000;
					text-decoration: none;
					font-family: "muli", sans-serif;
					font-size: 300;
				}
				.btn-navbar{
					width: 116px;
					height: 34px;
					border-radius: 20px;
					background-color: rgb(255 80 113);
					color: #fff;
					border-style: none;
					font-family: "muli", sans-serif;
					font-size: 300;
				}
	.hero-section{
		width: 100%;
		padding-top: 120px;
	}
		.title-illustration{
			width: 100%;
			display: flex;
		}
			.illustration-coffe-bar{
				width: 60%;
				margin-top:80px;
			}
				.pink-balls{
					margin-left: 120px;
				}
			.title-best-pos{
				width: 40%;
				margin-top:80px;
				font-family: "muli", sans-serif;
				list-style-type: none;
			}
				.best-title{
					width: 205px;
				}
				.smp-op-text{
					width: 47%;
				}
				.line-detail{
					width: 64px;
					height: 1px;
					background-color: #000;
					margin-left: 0;
				}
				.ready-text{
					color: rgb(255 80 113);
				}
	.blue-section{
		width: 100%;
		padding-top: 120px;
		overflow: hidden;
	}
		.sentence-container{
			width: 100%;
			height: 320px;
			background-color: #3498DB;
			text-align: center;
			font-family: "muli", sans-serif;
			z-index: 100000;
			position: relative;
		}
			.text-container{
				height: 25%;
				display: flex;
				justify-content: center;
				align-items: center;
			}
			.sentence{
				width: 40%;
				font-size: 300;
				color: #fff;
			}
			.Tailor-title{
				padding-top: 107px;
				font-size: 400;
				color: #fff;
			}
		.background-copy{
			width: 100%;
			height: 320px;
			background-color: #3498DB;
			transform:rotate(-2deg);
			position: absolute;
			margin-top: -319px;
			opacity: .5;
		}
	.section-retail-qsr-beauty{
		width: 100%;
	}
		.cards-container{
			position: absolute;
			width: 100%;
		}
			.init-container{
				position: relative;
				width: 100%;
				height: 15%;
				margin: 0;
			}
				.init-section{
					text-align: center;
					font-size: 300;
					font-family: "muli", sans-serif;
					margin-top: 30px;
				}
			.container-title{
				position: relative;
				width: 100%;
				height: 15%;
				margin: 0;
			}
				.franpos-title{
					text-align: center;
					font-family: "muli" , sans-serif;
					font-size: 400;
					margin-top: -5px;
				}
			.retail-card{
				display: flex;
				height: 50%;
				width:100%;
				margin-top: 30px;
				justify-content: center;
				align-items: center;
			}
				.text-img-container{
					margin: 20px;
					padding: 25px;
					display: flex;
					justify-content: center;
					align-items: center;
					box-shadow: 4px 5px 7px 4px #D7DBDD;
					width: 340px;
					height: 190px;
				}
					.text-retail{
						width: 200px;
						height: 182px;
						font-family: "muli", sans-serif;
						font-size: 300;
					}
					.shopping-cart{
						width: 50%;
					}
						.img-cart{
							margin-left: 30px;
						}
	.clients-logos-section{
		width: 100%;
		position: absolute;
		margin-top: 500px;
		background: linear-gradient(to right, #F2F3F4, #FDFEFE);
	}
		.logos-clients-container{
			width: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			margin-top: 80px;
		}
		.world-title{
			text-align: center;
			font-family: "muli" , sans-serif;
			font-size: 400;
			margin-top: 95px;
		}
			.group-logo{
				margin-right: 100px;
			}
	.comparison-section{
		width: 100%;
	}
		.oldway{
			text-align: center;
			font-family: "muli", sans-serif;
			font-size: 400;
			margin-top: 815px;
		}
		.choice-title{
			text-align: center;
			font-family: "muli", sans-serif;
			font-size: 400;
			color:  rgb(255 80 113);
		}
		.comparison-img-container{
			width: 100%;
			height: 50%;
			display: flex;
			justify-content: center;
			align-items: center;
			font-family: "muli", sans-serif;
			font-size: 300;
		}
			.option-oldway{
				width: 50%;
				text-align: right;
			}
			.option-franpos{
				width: 50%;
				text-align: left;
				margin-left: 10px;
			}